<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>431690607119-7g46fniok5hqqg53c0eqa7tib4fdelev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431690607119-7g46fniok5hqqg53c0eqa7tib4fdelev</string>
	<key>API_KEY</key>
	<string>AIzaSyDHe_weyRWoDboITMquRMnDhIK4I4K0k9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>431690607119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.turtle-movie-chat</string>
	<key>PROJECT_ID</key>
	<string>turtle-movie-chat-75d09</string>
	<key>STORAGE_BUCKET</key>
	<string>turtle-movie-chat-75d09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431690607119:ios:ef94f14c22f227c2</string>
	<key>DATABASE_URL</key>
	<string>https://turtle-movie-chat-75d09.firebaseio.com</string>
</dict>
</plist>